<!--**************************************  Inicio del Header *****************************************************-->

<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
   
     <ion-title>Inicio</ion-title>

    <ion-buttons (click)="verPerfil()" right>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button> 
    </ion-buttons>
  
  </ion-navbar>
</ion-header>

<!--**************************************** Fin del Header *****************************************************-->

<ion-content>
  
    <form> <!-- <form *ngIf="form" [formGroup]="form"> CONSULTAR Inicio Form que aparentemente es necesario cuando quiera gurdar los cambios en el perfil.-->
      

      <ion-card *ngFor="let post of postDetails index as i"> <!--Inicio publicaciones-->
        <ion-grid>
          
          <ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
            <ion-col col-4>
              <div class="profile-imagecard-wrapper"> <!--Inicio Div que contiene los div asociados a la imagen de perfil para efectos del SCSS-->
                <div (click)="visitarPerfil()" class="profile-imagecard-placeholder" [ngStyle]="{'background-image': 'url(' + post.photo + ')'}"></div>
                
              </div> <!--Fin Div que contiene los div asociados a la imagen de perfil para efectos del SCSS-->
            </ion-col>
            <ion-col col-8>
              <ion-card-content> <!--Inicio card-content. Indicamos ion-card-contenr para que el contenido se ajuste a la card-->
                <h2>{{post.name}} {{post.lastname}}</h2>
                <P class="ion-card-content">{{post.text}}</P>  
              </ion-card-content> <!--Fin  card-content.-->
            </ion-col>
          </ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
          
          <ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
              <ion-col col-4>
                <p style="font-size: 12px; text-align: center" >{{post.date}}</p>
                
              </ion-col>
              <ion-col col-8>
                <ion-row>
                  <ion-col col-4 >
                    <button ion-button icon-only clear (click)="enviarSolicitudAventon(post._id.$oid, post.user_id.$oid)">
                      <div>
                        <ion-icon  name="ios-car" class="icon-content"></ion-icon>
                      </div> 
                    </button> <!--aqui agrego metodo tambien-->
                  </ion-col>
                  <ion-col col-8 >
                    <p class="ion-card-content" >6 solicitudes de aventón</p> 
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          

        </ion-grid> 
      </ion-card> <!--Fin publicaciones-->
    </form> <!-- CONSULTAR Fin Form --> 
    <ion-fab bottom right #fab>
   <button style="background-color:#6d7f7f"  (click)="publicarPost()" ion-fab>
     <div>
        <ion-icon  name="md-create"   ></ion-icon>
      </div> 
   </button>
  </ion-fab>
</ion-content>

<footer>  
 </footer>

