<!--**************************************Inicio del Footer *****************************************************-->
  
<!--¿El Footer debería ser un componente reutilizable?-->
<ion-footer>
  <ion-toolbar>
    <div class="centrado">
    <ion-buttons class="centrado">
    <button ion-button icon-only (click)="mensaje()" >  
        <ion-icon name="home" style="color:white"></ion-icon>
      </button>
      <button ion-button icon-only (click)="mensaje()" >  
        <ion-icon name="search" style="color:white"></ion-icon>
      </button>
      <button ion-button icon-only (click)="mensaje()" >  
        <ion-icon name="md-paper-plane" style="color:white"></ion-icon>
      </button>
    </ion-buttons> 
  </div>
  </ion-toolbar>
</ion-footer>
<!--**************************************Inicio del Footer *****************************************************-->

