page-registro {

    ion-title * {

        margin-top: 1vh;
        margin-bottom: 1vh;

    }

    .regi{

        background-color: #536879;
        color: white;
        
    }

    .regi ::placeholder{

        color: white;

    }
}
