<!--
  Generated template for the AventonesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
    <ion-toolbar>
      
        <ion-searchbar
        [(ngModel)]="myInput"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
  
      </ion-searchbar>

    </ion-toolbar>

  
</ion-header>

<ion-content>
  
    <form> <!-- <form *ngIf="form" [formGroup]="form"> CONSULTAR Inicio Form que aparentemente es necesario cuando quiera gurdar los cambios en el perfil.-->
      

      <ion-card *ngFor="let post of postDetails index as i"> <!--Inicio publicaciones-->
        <ion-grid>
          
          <ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
            <ion-col col-4>
              <div class="profile-imagecard-wrapper"> <!--Inicio Div que contiene los div asociados a la imagen de perfil para efectos del SCSS-->
                <div (click)="visitarPerfil()" class="profile-imagecard-placeholder" [ngStyle]="{'background-image': 'url(' + post.pic + ')'}"></div>
                
              </div> <!--Fin Div que contiene los div asociados a la imagen de perfil para efectos del SCSS-->
            </ion-col>
            <ion-col col-8>
              <ion-card-content> <!--Inicio card-content. Indicamos ion-card-contenr para que el contenido se ajuste a la card-->
                <h2>{{postDetails[i].full_name}}</h2>
                <P class="ion-card-content">{{post.post}}</P>  
              </ion-card-content> <!--Fin  card-content.-->
            </ion-col>
          </ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
          
          <ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
              <ion-col col-4>
                <p style="font-size: 12px; text-align: center" >10/10/2018 </p>
                <p  style="font-size: 12px; text-align: center">11:38</p>
              </ion-col>
              <ion-col col-8>
                <ion-row>
                  <ion-col col-4 >
                    <button ion-button icon-only clear (click)="enviarSolicitudAventon()">
                      <div>
                        <ion-icon  name="ios-car" class="icon-content"  ></ion-icon>
                      </div> 
                    </button> <!--aqui agrego metodo tambien-->
                  </ion-col>
                  <ion-col col-8 >
                    <p class="ion-card-content" >6 solicitudes de aventón</p> 
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          

        </ion-grid> 
      </ion-card> <!--Fin publicaciones-->
    </form> <!-- CONSULTAR Fin Form --> 
  
</ion-content>
<footer></footer>