<!--**************************************  Inicio del Header *****************************************************-->

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mi Perfil</ion-title>
     

    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="settings"></ion-icon>
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!--**************************************** Fin del Header *****************************************************-->


<!--**************************************Inicio del Content *****************************************************-->
<ion-content>
  
    <form *ngIf="form" [formGroup]="form"> <!-- CONSULTAR Inicio Form que aparentemente es necesario cuando quiera gurdar los cambios en el perfil.-->
      <div class="upperDiv"> <!--Inicio Div de información de usuario-->
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]"
               />
        
        <ion-grid>
          <ion-row> <!--Inicio Fila para foto de perfil y Bio-->
            
            <ion-col col-6> <!-- Columna para la foto de perfil -->
              <div class="profile-image-wrapper" (click)="getPicture()">

                <div class="profile-image" [ngStyle]="{'background-image': 'url(' + account.profile_image + ')'}">
              <!--   <ion-icon name="ios-camera-outline" class="ios-camera-outline" md="ios-camera-outline" style="color: white !important"></ion-icon> -->
                </div>  
                
              </div>   
            </ion-col>
            
            <ion-col col-6> <!-- Columna para la Bio -->
              <div class="profile_data">
                <h3 class="full_name">{{user.name}} {{user.lastname}}</h3>
                <p class="userDetails">{{user.bio}}</p>
                </div>
             </ion-col>
           
          </ion-row> <!--Fin Fila para foto de perfil y Bio-->
          
          <ion-row > <!--Inicio Fila reputación (Estrellas) Tarea: manejar esto en funcion a data numerica-->
            <ion-col col-12 text-center>
              <ion-icon style="color:palegoldenrod" name="star"></ion-icon>
              <ion-icon style="color:palegoldenrod" name="star"></ion-icon>
              <ion-icon style="color:palegoldenrod" name="star"></ion-icon>
              <ion-icon style="color:palegoldenrod" name="star"></ion-icon>
              <ion-icon style="color:palegoldenrod" name="star"></ion-icon>
            </ion-col>
          </ion-row>  <!--Fin Fila reputación (Estrellas) Tarea: manejar esto en funcion a data numerica-->
          
          <ion-row> <!--Inicio Fila Seguidores/Siguiendo-->
            <ion-col col-6>
              <p class="followers" >Seguidores: 24</p>
            </ion-col>
            <ion-col col-6>
                <p class="followers" >Siguiendo: 35</p>
              </ion-col>
          </ion-row> <!--Fin Fila Seguidores/Siguiendo-->
        </ion-grid>
      </div> <!--Fin Div de información de usuario-->

      <ion-card *ngFor="let item of postDetails "> <!--Inicio publicaciones-->
        <ion-grid>
          
          <ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
            <ion-col col-4>
              <div class="profile-imagecard-wrapper"> <!--Inicio Div que contiene los div asociados a la imagen de perfil para efectos del SCSS-->
                <div class="profile-imagecard-placeholder" *ngIf="!this.form.controls.image.value"></div>
                <div class="profile-imagecard" [style.backgroundImage]="getProfileImageStyle()"
                       *ngIf="this.form.controls.image.value"></div>
              </div> <!--Fin Div que contiene los div asociados a la imagen de perfil para efectos del SCSS-->
            </ion-col>
            <ion-col col-8>
              <ion-card-content> <!--Inicio card-content. Indicamos ion-card-contenr para que el contenido se ajuste a la card-->
                <h2>Nombre</h2>
                <P class="ion-card-content">{{item.text}}</P>
              </ion-card-content> <!--Fin  card-content.-->
            </ion-col>
          </ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
          
          <ion-row> <!--Inicio fila del card para la foto de perfi y el contenido del post-->
              <ion-col col-4>
                <p style="font-size: 12px; text-align: center" >10/10/2018 </p>
                <p  style="font-size: 12px; text-align: center">11:38</p>
              </ion-col>
              <ion-col col-8>
                <ion-row>
                  <ion-col col-4 >
                    <button ion-button icon-only clear (click)="irSolicitudes()">
                      <div>
                        <ion-icon class="icon-content" name="ios-mail"></ion-icon>
                      </div> 
                    </button> <!--aqui agrego metodo tambien-->
                  </ion-col>
                  <ion-col col-8 >
                    <p class="ion-card-content" >{{item.number}} puestos disponibles</p> 
                    <p class="ion-card-content" >N Solicitudes de aventon</p> 
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          

        </ion-grid> 
      </ion-card> <!--Fin publicaciones-->
    </form> <!-- CONSULTAR Fin Form --> 
  
</ion-content>

<!--**************************************Fin del Content *****************************************************-->


<!--**************************************Inicio del Footer *****************************************************-->

  <!-- Acá usamos el selector del componente footer, debemos revisar:
  1. footer.ts y ver su selector para aplicarlo acá
  2. footer.html y copiar el contenido que queremos plasmar en el <footer>
  3. components.modules.ts e importar IonicModule y el componente Footer
  4. app.module.ts e importar el ComponentsModule -->
  <!--**************************************Inicio del Footer *****************************************************-->





